<h3>Welcome to</h1>

<%= image_tag('https://vectr.com/tbluebox/doywHHLE.svg?width=640&height=640&select=iMv5gb71c') %>

<p>Your online marketplace for sharing your pre-loved unused goods with strangers.</p>

<%= link_to('Login', new_user_session_path) %>
<%= link_to('Sign Up', new_user_registration_path) %>