<div class='welcome-page'>

    <div class='home-logo'>
        <%= image_tag('LendR_logo_grey_long.svg', width:'500') %>
    </div>

    <div class='home-tagline'>
    <p>Your online marketplace for sharing your pre-loved unused goods.</p>
    </div>

</div>


