<h3>Welcome to</h1>
<h1>Lendr</h1>

<p>Your online marketplace for sharing your pre-loved unused goods with strangers.</p>

<%= link_to('Login', new_user_session_path) %>
<%= link_to('Logout', destroy_user_session_path, method: :delete) %>