/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* --- CSS Global Styling across all pages 
 */

/* * {
    margin:0;
    padding:0;
} */

@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900|Muli:200,300,400,600,700,800,900');

body {
    text-align: center;
    background-color: #1E1C1C;
    color: #fff;
    /* margin:0;
    padding:0; */
}

.home-logo-box {
    float: left;
    padding-left: 5%;
}

.nav {
    display: flex;
    justify-content: flex-end;
    width: 80;
}

 /* --- Grid Setups 
 */



 /* --- CSS Styling for Pages#Welcome page 
 */
body.pages.welcome {
    background-image: url('brunel-johnson-1073779-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color:  #1E1C1C;
}

body.pages.welcome .home-logo {
    align-items: center;
}

 /* --- CSS Styling for Pages#Welcome page 
 */
 body.users.sign_in {
    background-image: url('brunel-johnson-1073779-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color:  #1E1C1C;
}


 /* --- CSS Styling for Item#Show page 
 */


.image-slider .slick-slide {
    text-align: center;
}

.image-slider .slick-slide::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.image-slider .slick-slide img {
    vertical-align: middle;
    display: inline-block;
}

/* .image-slider .slick-prev:before, .image-slider .slick-next:before {
    color: #000;
} */



 /* --- CSS Styling for Transaction#Show page Comments Section Ratings
 */
.rating {
    overflow: hidden;
    display: inline-block;
}

.rating-input {
    float: right;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
}

.rating-star {
    cursor: pointer;
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: image-url('star.png') 0 -16px;
}

.rating-star:hover,
.rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}