/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* --- CSS Global Styling across all pages 
 --------------------------------------------- */

/* * {
    margin:0;
    padding:0;
} */


body {
    text-align: center;
    background-color: #1E1C1C;
    color: #fff;
}

h1 h2 h3 {
    font-family: 'Muli', sans-serif;
    // line-height: 12%;
}

p {
    font-family: 'Lato', sans-serif;
}

.home-logo-box {
    // float: left;
    padding-left: 5%;
    position: fixed;
}

nav {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin-left: 60%;
    margin-top: 5%;
}

nav ul {
    width: 120px;
}


a, a:visited, a:link, a:active {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

a:hover {
    background-color:#fff;
    color: #1E1C1C;
    text-decoration: underline;
    text-transform: uppercase;
}

.navbar-logo-box {
    display: flex;
    justify-content: flex-start;
    
}


/* Grid setups
--------------------------------------------- */
.grid-navbar {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr, 5fr, 2fr;
    grid-template-columns: 1fr, 2fr, 4fr;
}

.grid-browse-page {
    display: grid;
    height: 100vh;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(9, 1fr) 0.5fr;
}




 /* --- CSS Styling for Pages#Welcome page 
--------------------------------------------- */
body.pages.welcome {
    background-image: image-url('brunel-johnson-1073779-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color:  #1E1C1C;
}

body.pages.welcome .home-logo {
    align-items: center;
    margin-top: 10%;
}

body.pages.welcome a, a:visited, a:link, a:active {
    text-decoration: none;
    text-transform: uppercase;
    color: #1E1C1C;
}

body.pages.welcome a:hover {
    background-color:#1E1C1C;
    color: #fff;
    text-decoration: underline;
    text-transform: uppercase;
}


 /* --- CSS Styling for Users#Login page 
--------------------------------------------- */
 body.users.sign_in {
    background-image: image-url('brunel-johnson-1073779-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color:  #1E1C1C;
}


 /* --- CSS Styling for Category#Index page 
--------------------------------------------- */
body.categories.index {
    margin: 0;
    padding: 0;
}

body.categories.index a, a:visited, a:link, a:active {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

body.categories.index a:hover {
    background-color:#fff;
    color: #1E1C1C;
    text-decoration: underline;
    text-transform: uppercase;
}

body.categories.index .browse-search {
    grid-row: 1 / 2;
    grid-column: 3 / 10;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    font-family: 'Muli', sans-serif;
    font-size: 3em;
    line-height: 1em;
}

body.categories.index .browse-search .search-btn {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 100;
    line-height: 1em;
    color: #1E1C1C;
    width: 120px;
    height: 5px;
    line-height: 20px;
    text-align: center;
    padding-bottom: 20px;
    border: 2px solid #1E1C1C;
    border-radius: 5px;
}

body.categories.index .browse-category-grid {
    font-family: 'Lato', sans-serif;;
    font-size: 8px;
    font-weight: 300;
    grid-row: 3 / 4;
    grid-column: 2 / 11;
    display: inline-block;
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: lightsalmon;
}

// body.categories.index .browse-category-card {
//     width: 100px;
// }

body.categories.index .style-kids {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    // width: 100px;
    background-color: red;
    display: flex;
    flex-direction: column;
}
body.categories.index .style-home {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    // width: 100px;
    background-color: lightgreen;
    display: flex;
}
body.categories.index .style-outdoor {
    grid-row: 3 / 4;
    grid-column: 4 / 5;
    // width: 100px;
    background-color: lightskyblue;
    display: flex;
}
body.categories.index .style-fashion {
    grid-row: 3 / 4;
    grid-column: 5 / 6;
    // width: 100px;
    // background-color: red;
    display: flex;
}
body.categories.index .style-events {
    grid-row: 3 / 4;
    grid-column: 6 / 7;
    // width: 100px;
    // background-color: red;
    display: flex;
}
body.categories.index .style-recreation {
    grid-row: 3 / 4;
    grid-column: 8 / 9;
    // width: 100px;
    // background-color: red;
    display: flex;
}
body.categories.index .style-office {
    grid-row: 3 / 4;
    grid-column: 9 / 10;
    // width: 100px;
    // background-color: red;
    display: flex;
}
body.categories.index .style-electronics {
    grid-row: 3 / 4;
    grid-column: 10 / 11;
    // width: 100px;
    // background-color: red;
    display: flex;
}
body.categories.index .style-miscellaneous {
    grid-row: 3 / 4;
    grid-column: 11 / 12;
    // width: 100px;
    // background-color: red;
    display: flex;
}


 /* --- CSS Styling for Item#Show page 
 --------------------------------------------- */



 /* --- CSS Styling for Item#Show page 
 --------------------------------------------- */


.image-slider .slick-slide {
    text-align: center;
}

.image-slider .slick-slide::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.image-slider .slick-slide img {
    vertical-align: middle;
    display: inline-block;
}

/* .image-slider .slick-prev:before, .image-slider .slick-next:before {
    color: #000;
} */



 /* --- CSS Styling for Transaction#Show page Comments Section Ratings
--------------------------------------------- */
.rating {
    overflow: hidden;
    display: inline-block;
}

.rating-input {
    float: right;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
}

.rating-star {
    cursor: pointer;
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: image-url('star.png') 0 -16px;
}

.rating-star:hover,
.rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}