/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* --- CSS Global Styling across all pages 
 --------------------------------------------- */

body {
    text-align: center;
    background-color: #1E1C1C;
    color: #fff;
}

h1 {
    font-family: 'Muli', sans-serif;
    line-height: 12%;
    font-size: 6.3em;
}

h2 {
    font-family: 'Muli', sans-serif;
    line-height: 12%;
    font-size: 6em;
    text-align: left;
    margin-top: 5%;
    margin-left: 10%;
}

h3 {
    text-decoration: underline;
}

p {
    font-family: 'Lato', sans-serif;
}

.home-logo-box {
    padding-left: 5%;
    position: fixed;
}

.main-header {
    display: flex; 
    justify-content: space-between;
    margin-top: 5%;
    margin-left: 6%;
}

nav {
    display: flex;
    justify-content: space-evenly;
    min-width: 70vw;
    align-items: center;
}


body a, a:visited, a:link, a:active {
    text-decoration: underline;
    text-transform: uppercase;
    color: #fff;
}

body a:hover {
    background-color:#fff;
    color: #1E1C1C;
    text-decoration: underline;
    text-transform: uppercase;
}

.navbar-logo-box {
    display: flex;
}

.inpage-btn-box {
    height: 50px;
    width: 150px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-self: flex-end;
}

.inpage-btn-box:hover {
    height: 50px;
    width: 100px;
    border: 1px solid #fff;
    background-color: #fff;
    color: #000;
    text-align: center;
}

/* Small devices (portrait tablets and large phones, 640px and up) */
@media only screen and (max-width: 640px) and (orientation: portrait) {
    h1 {
        font-size: 5em;
    }
    
    h2 {
        font-size: 4em;
    }
    
    .main-header {
        transform: scale(0.8);
        margin-left: 0;
    }
}


// /* Grid setups
// --------------------------------------------- */
// .grid-navbar {
//     display: grid;
//     height: 100vh;
//     grid-template-rows: 1fr, 5fr, 2fr;
//     grid-template-columns: 1fr, 2fr, 4fr;
// }

// .grid-browse-page {
//     // display: grid;
//     height: 100vh;
//     grid-template-rows: repeat(5, 1fr);
//     grid-template-columns: 0.5fr repeat(9, 1fr) 0.5fr;
// }

/* Table Styling
--------------------------------------------- */
table {
    text-align: center;
}

th {
    background-color: #f5f5f5;
    color: #1E1C1C;
    height: 2em;
    text-transform: uppercase;
}

th, td {
    border-bottom: 1px solid #ddd;
}



 /* --- CSS Styling for Pages#Welcome page 
--------------------------------------------- */
body.pages.welcome {
    background-image: image-url('brunel-johnson-1073779-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color:  #1E1C1C;
}

body.pages.welcome .home-logo {
    align-items: center;
    margin-top: 10%;
}

body.pages.welcome .main-header {
    margin-left: 30%;
}

body.pages.welcome a, a:visited, a:link, a:active {
    text-decoration: none;
    text-transform: uppercase;
    color: #1E1C1C;
}

body.pages.welcome a:hover {
    background-color:#1E1C1C;
    color: #fff;
    text-decoration: underline;
    text-transform: uppercase;
}

/* Small devices (portrait tablets and large phones, 640px and up) */
@media only screen and (max-width: 640px) and (orientation: portrait) {
    body.pages.welcome .home-logo {
        transform: scale(0.5);
    }
    
    body.pages.welcome .home-tagline {
        text-align: right;
        margin-left: 40%;
        width: 180px;
    }

}


 /* --- CSS Styling for Users#Login page 
--------------------------------------------- */
 body.devise.registrations {
    background-image: image-url('brunel-johnson-1073779-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color:  red;
}


 /* --- CSS Styling for Category#Index page 
--------------------------------------------- */
body.categories.index {
    margin: 0;
    padding: 0;
}

body.categories.index a, a:visited, a:link, a:active {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

body.categories.index a:hover {
    background-color:#fff;
    color: #1E1C1C;
    text-decoration: underline;
    text-transform: uppercase;
}

body.categories.index .browse-search {
    grid-row: 1 / 2;
    grid-column: 3 / 10;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    font-family: 'Muli', sans-serif;
    font-size: 3em;
    line-height: 1em;
}

body.categories.index .browse-search .search-btn, body.categories.show .browse-search .search-btn {
    font-family: 'Lato', sans-serif;
    font-size: 8px;
    text-transform: uppercase;
    font-weight: 100;
    line-height: 1em;
    color: #1E1C1C;
    width: 120px;
    height: 5px;
    line-height: 20px;
    text-align: center;
    padding-bottom: 20px;
    border: 2px solid #1E1C1C;
    border-radius: 5px;
    width: 70vw;
    margin: 0 auto;
}

.browse-category-grid  {
    width: 100vw;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.browse-category-grid  img {
    transform: scale(2.3);
    margin-bottom: 2%;
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

    .browse-category-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        height: 60vh;
        font-family: 'Lato', sans-serif;
        font-size: 8px;
        text-transform: uppercase;
        font-weight: 100;
        line-height: 1em;
    }


    .browse-category-grid  img {
        transform: scale(1.7);
        margin-bottom: 2%;
    }

    body.categories.index .browse-search {
        transform: scale(0.8)
    }

}


 /* --- CSS Styling for Item#Index page 
 --------------------------------------------- */



 /* --- CSS Styling for Item#Show page 
 --------------------------------------------- */


.image-slider .slick-slide {
    text-align: center;
}

.image-slider .slick-slide::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.image-slider .slick-slide img {
    vertical-align: middle;
    display: inline-block;
}



 /* --- CSS Styling for Transaction#Show page Comments Section Ratings
--------------------------------------------- */
.rating {
    overflow: hidden;
    display: inline-block;
}

.rating-input {
    float: right;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
}

.rating-star {
    cursor: pointer;
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: image-url('star.png') 0 -16px;
}

.rating-star:hover,
.rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}


 /* --- CSS Styling for All Forms 
--------------------------------------------- */
.item-form, .signup-form, .edit-signup-form, .login-form, .resend-confirm-form, .change-password-form, .edit-change-password-form, .unluck-instruction-form {
    width: 60vw;
    margin: 0 auto;
}

.comment-form {
    width: 40vw;
    margin: 0 auto;
}

.field {
    position: relative;
    -webkit-appearance: none;
}

input:not([type='checkbox']):not([type='radio']),  
textarea {
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    
}

.nice-select { 
    color: black;
    font-size: 12px;
}

input:-webkit-autofill, 
textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #1E1C1C inset;
    -webkit-text-fill-color: #fff;
}

.field label {
    position: absolute;
    top: 0;
    left: 0;
    top: -15;
    padding: 10px 0;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    pointer-events: none;
    transition: .5s;
    -webkit-appearance: none;
}

.field input:focus ~ label,
.field textarea:focus ~ label,
.field input:valid ~ label,
.field textarea:valid ~ label,
.picker-input ~ label{
    top: -18px;
    left: 0;
    color: #fff;
    font-size: 12px;
}

::placeholder {
    line-height: 63px;
    font-size: 10px;
}


div.datedropper.lendr-calendar {
    border-radius: 6px;
    width: 200px;
  }
  div.datedropper.lendr-calendar .picker {
    border-radius: 6px;
    box-shadow: 0 0 18px 9px rgba(0, 0, 0, 0.26);
  }
  div.datedropper.lendr-calendar .pick-l {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  div.datedropper.lendr-calendar:before,
  div.datedropper.lendr-calendar .pick-submit,
  div.datedropper.lendr-calendar .pick-lg-b .pick-sl:before,
  div.datedropper.lendr-calendar .pick-m,
  div.datedropper.lendr-calendar .pick-lg-h {
    background-color: #1E1C1C;
  }
  div.datedropper.lendr-calendar .pick-y.pick-jump,
  div.datedropper.lendr-calendar .pick li span,
  div.datedropper.lendr-calendar .pick-lg-b .pick-wke,
  div.datedropper.lendr-calendar .pick-btn {
    color: #1E1C1C;
  }
  div.datedropper.lendr-calendar .picker,
  div.datedropper.lendr-calendar .pick-l {
    background-color: #FFF;
  }
  div.datedropper.lendr-calendar .picker,
  div.datedropper.lendr-calendar .pick-arw,
  div.datedropper.lendr-calendar .pick-l {
    color: #4D4D4D;
  }
  div.datedropper.lendr-calendar .pick-m,
  div.datedropper.lendr-calendar .pick-m .pick-arw,
  div.datedropper.lendr-calendar .pick-lg-h,
  div.datedropper.lendr-calendar .pick-lg-b .pick-sl,
  div.datedropper.lendr-calendar .pick-submit {
    color: #fff;
  }
  div.datedropper.lendr-calendar.picker-tiny:before,
  div.datedropper.lendr-calendar.picker-tiny .pick-m {
    background-color: #FFF;
  }
  div.datedropper.lendr-calendar.picker-tiny .pick-m,
  div.datedropper.lendr-calendar.picker-tiny .pick-m .pick-arw {
    color: #4D4D4D;
  }
  div.datedropper.lendr-calendar.picker-lkd .pick-submit {
    background-color: #FFF;
    color: #4D4D4D;
  }
  