// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category-show-page {
    background: aquamarine;
    // display: grid;
    // grid-template-columns: repeat(9, 1fr);
    // grid-template-rows: repeat(5, 1fr);
}

.categories-container {
    width: 100%;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    // grid-column: 2 / 9 ;
    // grid-row: 2 / 4 ;
}

.category-card {
    // min-width: 100px;

}

.categories-container img {
    min-width: 100px;
    max-width: 100px;

}

.category-title {
    font-family: 'Muli', sans-serif;
    // color: white;
}

h1 {
    font-family:'Muli', sans-serif;
}

body {
    text-align: center;
    color: white;
}

@media only screen and (max-width: 906px) {
    .categories-container img {
        width: 90%;
        max-width: 70px;
        max-width: 70px;
    }
}