<%# Lendr: Page showed to buyer after Stripe payment. %>
<h2>Thanks, you paid
    <strong>
        <%= number_to_currency(@item.price/100) %>
    </strong>!
 </h2>

<p>
     You rented <%= @item.name %>. A confirmation email will be sent to you shortly.  
</p>

<%= image_tag @item.image, width: '300' %>